
.reg-form form
{
	width: 30%;
	margin-top: 100px;
	text-align: center;
	border: 1px solid deepskyblue;
	padding-bottom: 20px;
}
.reg-form form h1
{
	color: deepskyblue;
}
.reg-form form input , .reg-form form select ,.reg-form form textarea
{
	width: 70%;
	padding: 12px;
	//margin-top: 10px;
	border: 1px solid deepskyblue;
}

.reg-form form select
{
	width: 77%;
}
.reg-form form .submit
{
	width: 30%;
	margin-top: 30px;
	color: white;
	font-size: 15px;
	background-color: deepskyblue;
	border: none;
}
.reg-form form input[type='radio'],.reg-form form input[type='checkbox']
{
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 10%;
}
.reg-form form p
{
	padding: 0;
	margin: 0;
	opacity: 0;
	color: red;
}
.reg-form form  .opacity
{
	opacity: 1;
}
.gender_label
{
	margin-left: -100px;
}
